:root {
  --backColor: #282828;
  --foreColor: #909090;
  --borderColor: #454545;
  --labelColor: #ffffff;
  --hoverColor: red;
  --zeroSkill: #000000;
  --belowtwentySkill: #454545;
  --twentySkill: #808080;
  --fortySkill: #ffffff;
  --sixtySkill: darkorange;
  --eightySkill: red;
  /*
    --backColor:white;
    --foreColor:black;
    --borderColor:#454545;
    --labelColor:#808080;
    --hoverColor:red;*/
}
.item .itemdata {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: 1fr;
  gap: 1px 1px;
  grid-auto-flow: row;
  grid-template-areas: "item-header item-block";
  background-color: var(--backColor);
  color: var(--foreColor);
  outline: 1px solid var(--labelColor);
  height: 100%;
}
.item .itemdata .item-header {
  grid-area: item-header;
  background-color: var(--foreColor);
  color: var(--backColor);
  outline: var(--borderColor) solid 1px;
  padding: 2px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
}
.item .itemdata .item-block {
  grid-area: item-block;
  background-color: var(--backColor);
  color: var(--foreColor);
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 1;
  overflow-x: auto;
  overflow-y: auto;
  padding: 5px;
}
.item .itemdata .item-block .item-icon {
  width: 3rem;
  height: 3rem;
  border: 1px solid var(--labelColor);
}
.item .itemdata .item-block .item-titlebar {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.item .itemdata .item-block .item-titlebar .item-label {
  flex: 1;
  font-size: large;
  font-weight: bold;
  height: auto;
}
.item .itemdata .item-block .item-titlebar .contract {
  display: flex;
  flex-direction: column;
  flex: 0 1 0;
}
.item .itemdata .item-block .item-titlebar .expand {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.item .itemdata .item-block .item-titlebar .center {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
  height: 100%;
}
.item .itemdata .item-block .item-titlebar .typeselector {
  height: 100%;
  color: var(--foreColor);
}
.item .itemdata .item-block .item-data {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 5px;
  margin: 5px 0px;
}
.item .itemdata .item-block .item-data .select {
  height: min-content;
  background-color: var(--foreColor);
  width: min-content;
}
.item .itemdata .item-block .item-data .contract {
  display: flex;
  flex-direction: column;
  flex: 0 1 0;
}
.item .itemdata .item-block .item-data .expand {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.item .itemdata .item-block .item-data .center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.item .itemdata .item-block .item-data .shorttext {
  width: 50px;
}
.item .itemdata .item-block .green {
  color: green;
}
.item .itemdata .item-block .red {
  color: red;
}
.item .itemdata .item-block .editor {
  height: 100%;
  border: 1px solid;
  border-radius: 1%;
  padding: 10px;
}
.dgalt.sheet .window-content,
.item .window-content {
  height: 100%;
}
.dgalt.sheet .window-content .flexcol,
.item .window-content .flexcol {
  height: 100%;
}
.dgalt.sheet .vertical-header,
.item .vertical-header {
  text-align: center;
  vertical-align: middle;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  font-size: 0.75rem;
  font-weight: bold;
}
.dgalt.sheet .group-flex-horizontal,
.item .group-flex-horizontal {
  display: flex;
  flex-direction: row;
  justify-items: center;
  gap: 10px;
}
.dgalt.sheet .invisible,
.item .invisible {
  visibility: hidden;
}
.dgalt.sheet .strike,
.item .strike {
  color: var(--borderColor);
  text-decoration: line-through var(--foreColor) solid 2px;
}
.dgalt.sheet .form-label,
.item .form-label {
  font-size: 0.6rem;
  color: var(--labelColor);
}
.dgalt.sheet .form-label-centered,
.item .form-label-centered {
  font-size: 0.6rem;
  text-align: center;
  vertical-align: middle;
  color: var(--labelColor);
}
.dgalt.sheet .form-inputbox,
.item .form-inputbox {
  color: var(--foreColor);
  height: auto;
}
.dgalt.sheet .form-inputbox-centered,
.item .form-inputbox-centered {
  color: var(--foreColor);
  text-align: center;
  height: auto;
}
.dgalt.sheet .form-inputbox-number,
.item .form-inputbox-number {
  color: var(--foreColor);
  text-align: center;
  height: auto;
  width: 32px;
}
.dgalt.sheet .form-inputbox-number-stretch,
.item .form-inputbox-number-stretch {
  color: var(--foreColor);
  text-align: center;
  height: 100%;
  width: 50px;
}
.dgalt.sheet .form-hor-group,
.item .form-hor-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 5px;
  gap: 5px;
  outline: 1px dashed var(--borderColor);
  min-height: 33px;
}
.dgalt.sheet .form-button,
.item .form-button {
  align-items: center;
  background-color: initial;
  background-image: linear-gradient(var(--borderColor), var(--backColor));
  border-radius: 2px;
  border-width: 0;
  box-sizing: border-box;
  color: var(--labelColor);
  display: inline-flex;
  flex-direction: column;
  font-size: 10px;
  height: 16px;
  width: 35px;
  justify-content: center;
  margin: 0;
  outline: none;
  padding: 0 2px;
  text-align: center;
  transition: all 150ms;
  vertical-align: baseline;
}
.dgalt.sheet .form-button:hover,
.item .form-button:hover {
  color: var(--hoverColor);
}
.dgalt.sheet .form-button:active,
.item .form-button:active {
  background-image: radial-gradient(var(--backColor), var(--hoverColor));
}
.dgalt.sheet .form-text,
.item .form-text {
  outline: var(--borderColor) dashed 1px;
  padding: 2px;
}
.dgalt.sheet .form-text-small,
.item .form-text-small {
  color: var(--foreColor);
  font-size: 0.75rem;
  line-height: 1rem;
  overflow: hidden;
  padding: 2px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.dgalt.sheet .item-checkmark,
.item .item-checkmark {
  font-size: 0.625rem;
  margin: 1px;
}
.dgalt.sheet .item-controls,
.item .item-controls {
  font-size: 0.625rem;
  line-height: 1rem;
  flex: 0 0 1.25rem;
  display: block;
  text-align: end;
  width: max-content;
}
.dgalt.sheet .item-controls a:hover,
.item .item-controls a:hover {
  text-shadow: none;
  color: var(--hoverColor);
}
.dgalt.sheet .item-controls .item-control.active,
.item .item-controls .item-control.active {
  color: goldenrod;
}
.dgalt.sheet .container,
.item .container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr;
  width: 100%;
  height: 100%;
}
.dgalt.sheet .container .sheet-header,
.item .container .sheet-header {
  width: 100%;
  height: min-content;
  border: 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 5px;
}
.dgalt.sheet .container .sheet-header .sheet-portrait,
.item .container .sheet-header .sheet-portrait {
  width: 8.75rem;
  height: 100%;
  padding: 0 0.5rem;
}
.dgalt.sheet .container .sheet-header .sheet-portrait .photo,
.item .container .sheet-header .sheet-portrait .photo {
  object-fit: contain;
  border: 0;
  height: 100%;
  width: 100%;
}
.dgalt.sheet .container .sheet-nav,
.item .container .sheet-nav {
  font-weight: bold;
  font-size: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: stretch;
  height: 100%;
  width: 100%;
  padding-left: 30px;
  gap: 5px;
  z-index: 0;
  color: var(--foreColor);
}
.dgalt.sheet .container .sheet-nav .tab-title,
.item .container .sheet-nav .tab-title {
  background: var(--borderColor);
  border: solid 1px var(--labelColor);
  flex: 1 1 0px;
  padding: 0px 10px 0px 10px;
  margin-bottom: -1px;
  text-align: center;
}
.dgalt.sheet .container .sheet-nav .tab-title:hover,
.item .container .sheet-nav .tab-title:hover {
  background-color: var(--hoverColor);
}
.dgalt.sheet .container .sheet-nav .tab-title.active,
.item .container .sheet-nav .tab-title.active {
  background-color: var(--backColor);
  border-bottom: var(--backColor);
}
.dgalt.sheet .container .mod-selector-hidden,
.item .container .mod-selector-hidden {
  display: none;
  flex-direction: row;
  font-size: 0.625rem;
  line-height: 1rem;
  text-align: center;
}
.dgalt.sheet .container .mod-selector-hidden .mod-button,
.item .container .mod-selector-hidden .mod-button {
  border: 1px solid var(--foreColor);
  background-color: var(--borderColor);
  border-radius: 5px;
  flex: 0 0 2em;
  margin: 1px;
  z-index: 1;
}
.dgalt.sheet .container .mod-selector-hidden .mod-button:hover,
.item .container .mod-selector-hidden .mod-button:hover {
  color: var(--hoverColor);
  background-color: var(--foreColor);
}
.dgalt.sheet .container .mod-selector,
.item .container .mod-selector {
  display: flex;
  flex-direction: row;
  font-size: 0.625rem;
  line-height: 1rem;
  text-align: center;
}
.dgalt.sheet .container .mod-selector .mod-button,
.item .container .mod-selector .mod-button {
  border: 1px solid var(--foreColor);
  background-color: var(--borderColor);
  border-radius: 5px;
  flex: 0 0 2em;
  margin: 1px;
}
.dgalt.sheet .container .mod-selector .mod-button:hover,
.item .container .mod-selector .mod-button:hover {
  color: var(--hoverColor);
  background-color: var(--foreColor);
}
.dgalt.sheet .container .button-bar-vertical,
.item .container .button-bar-vertical {
  font-size: 0.625rem;
  line-height: 1rem;
  flex: 0 0 1.25rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 2px 0px;
  gap: 2px;
}
.dgalt.sheet .container .button-bar-vertical .item-control,
.item .container .button-bar-vertical .item-control {
  border: 1px solid var(--borderColor);
  border-radius: 5px;
}
.dgalt.sheet .container .button-bar-vertical a:hover,
.item .container .button-bar-vertical a:hover {
  text-shadow: none;
  color: var(--hoverColor);
}
.dgalt.sheet .container .button-bar-vertical .item-control.active,
.item .container .button-bar-vertical .item-control.active {
  color: goldenrod;
}
.dgalt.sheet .container .sheet-body,
.item .container .sheet-body {
  overflow: hidden;
  height: 100%;
}
.dgalt.sheet .container .sheet-body ul,
.item .container .sheet-body ul,
.dgalt.sheet .container .sheet-body ol,
.item .container .sheet-body ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 100%;
  align-content: flex-start;
  justify-content: stretch;
}
.dgalt.sheet .container .sheet-body .restore-list-styles ul,
.item .container .sheet-body .restore-list-styles ul,
.dgalt.sheet .container .sheet-body .restore-list-styles ol,
.item .container .sheet-body .restore-list-styles ol {
  margin: 0.5em 0;
  padding: 0 0 0 1.5em;
}
.dgalt.sheet .container .sheet-body .restore-list-styles ul,
.item .container .sheet-body .restore-list-styles ul {
  list-style-type: disc;
}
.dgalt.sheet .container .sheet-body .restore-list-styles ol,
.item .container .sheet-body .restore-list-styles ol {
  list-style-type: decimal;
}
.dgalt.sheet .container .sheet-body .tab,
.item .container .sheet-body .tab {
  height: 100%;
  border: 1px solid var(--labelColor);
  color: var(--foreColor);
  background-color: var(--backColor);
  margin-bottom: 1rem;
}
.dgalt.sheet .container .sheet-body .sheet-page,
.item .container .sheet-body .sheet-page {
  height: 100%;
  display: grid;
}
.dgalt.sheet .container .sheet-body .skills-data-area,
.item .container .sheet-body .skills-data-area {
  height: 100%;
  flex: 1;
  min-height: 0;
}
.dgalt.sheet .container .sheet-body .tab-top,
.item .container .sheet-body .tab-top {
  height: min-content;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.dgalt.sheet .container .sheet-body .fillheight,
.item .container .sheet-body .fillheight {
  height: 100%;
}
.codename {
  margin-top: auto;
  text-align: center;
  vertical-align: middle;
}
.photo {
  width: 100%;
  height: auto;
  max-height: 64px;
  max-width: 64px;
  align-self: center;
}
.personaldata {
  display: grid;
  grid-template-columns: min-content 1fr auto;
  grid-template-rows: min-content;
  gap: 1px 1px;
  grid-auto-flow: row;
  background-color: var(--backColor);
  color: var(--foreColor);
  outline: 1px solid var(--labelColor);
  height: min-content;
  grid-template-areas: "personal-header personal-block picture-block";
}
.personaldata .personal-header {
  grid-area: personal-header;
  background-color: var(--foreColor);
  color: var(--backColor);
  outline: var(--borderColor) solid 1px;
  padding: 2px;
  display: flex;
  align-content: center;
  justify-content: space-around;
}
.personaldata .personal-block {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: min-content min-content min-content;
  gap: 1px 1px;
  grid-auto-flow: row;
  grid-template-areas: "realname-area realname-area profession-area profession-area" "employer-area employer-area nationality-area nationality-area" "sex-area age-area education-area education-area";
  grid-area: personal-block;
  background-color: var(--backColor);
  color: var(--foreColor);
  outline: var(--borderColor) dashed 1px;
}
.personaldata .personal-block .realname-area {
  grid-area: realname-area;
  background-color: var(--backColor);
  color: var(--foreColor);
  outline: var(--borderColor) dashed 1px;
  padding: 2px;
}
.personaldata .personal-block .profession-area {
  grid-area: profession-area;
  background-color: var(--backColor);
  color: var(--foreColor);
  outline: var(--borderColor) dashed 1px;
  padding: 2px;
}
.personaldata .personal-block .employer-area {
  grid-area: employer-area;
  background-color: var(--backColor);
  color: var(--foreColor);
  outline: var(--borderColor) dashed 1px;
  padding: 2px;
}
.personaldata .personal-block .nationality-area {
  grid-area: nationality-area;
  background-color: var(--backColor);
  color: var(--foreColor);
  outline: var(--borderColor) dashed 1px;
  padding: 2px;
}
.personaldata .personal-block .sex-area {
  grid-area: sex-area;
  background-color: var(--backColor);
  color: var(--foreColor);
  outline: var(--borderColor) dashed 1px;
  padding: 2px;
}
.personaldata .personal-block .age-area {
  grid-area: age-area;
  background-color: var(--backColor);
  color: var(--foreColor);
  outline: var(--borderColor) dashed 1px;
  padding: 2px;
}
.personaldata .personal-block .education-area {
  grid-area: education-area;
  background-color: var(--backColor);
  color: var(--foreColor);
  outline: var(--borderColor) dashed 1px;
  padding: 2px;
}
.personaldata .picture-block {
  grid-area: picture-block;
  background-color: var(--backColor);
  color: var(--foreColor);
  outline: var(--borderColor) dashed 1px;
  padding: 2px;
  display: flex;
  flex-direction: column;
}
.statdata {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: 1fr min-content;
  gap: 1px 1px;
  grid-auto-flow: row;
  grid-template-areas: "stat-header stats-block" "stat-header derived-block";
  background-color: var(--backColor);
  color: var(--foreColor);
  outline: 1px solid var(--labelColor);
}
.statdata .stat-header {
  grid-area: stat-header;
  background-color: var(--foreColor);
  color: var(--backColor);
  outline: var(--borderColor) solid 1px;
  padding: 2px;
  display: flex;
  align-content: center;
  justify-content: space-around;
}
.statdata .stats-block {
  display: grid;
  grid-template-columns: 0.7fr 38px 38px 1fr;
  grid-template-rows: min-content min-content min-content min-content min-content min-content min-content;
  gap: 1px 1px;
  grid-auto-flow: row;
  grid-template-areas: "stat-label score-label x5-label feature-label" "str-text str-score str-x5 str-feature" "con-text con-score con-x5 con-feature" "dex-text dex-score dex-x5 dex-feature" "int-text int-score int-x5 int-feature" "pow-text pow-score pow-x5 pow-feature" "cha-text cha-score cha-x5 cha-feature";
  grid-area: stats-block;
  background-color: var(--backColor);
  color: var(--foreColor);
  outline: var(--borderColor) dashed 1px;
}
.statdata .stats-block .stat-name-wrapper:hover .mod-selector-hidden {
  display: flex;
}
.statdata .stats-block .stat-name-wrapper:hover .stat-text {
  display: none;
}
.statdata .stats-block .stat-label {
  grid-area: stat-label;
  outline: var(--borderColor) dashed 1px;
  padding: 2px;
  justify-content: center;
  align-content: center;
}
.statdata .stats-block .score-label {
  grid-area: score-label;
  outline: var(--borderColor) dashed 1px;
  padding: 2px;
}
.statdata .stats-block .x5-label {
  grid-area: x5-label;
  outline: var(--borderColor) dashed 1px;
  padding: 2px;
}
.statdata .stats-block .feature-label {
  grid-area: feature-label;
  outline: var(--borderColor) dashed 1px;
  padding: 2px;
}
.statdata .stats-block .str-text {
  grid-area: str-text;
  outline: var(--borderColor) dashed 1px;
  padding: 2px;
}
.statdata .stats-block .str-score {
  grid-area: str-score;
  outline: var(--borderColor) dashed 1px;
  padding: 2px;
}
.statdata .stats-block .str-x5 {
  grid-area: str-x5;
  outline: var(--borderColor) dashed 1px;
  padding: 2px;
}
.statdata .stats-block .str-feature {
  grid-area: str-feature;
  outline: var(--borderColor) dashed 1px;
  padding: 2px;
}
.statdata .stats-block .con-text {
  grid-area: con-text;
  outline: var(--borderColor) dashed 1px;
  padding: 2px;
}
.statdata .stats-block .con-score {
  grid-area: con-score;
  outline: var(--borderColor) dashed 1px;
  padding: 2px;
}
.statdata .stats-block .con-x5 {
  grid-area: con-x5;
  outline: var(--borderColor) dashed 1px;
  padding: 2px;
}
.statdata .stats-block .con-feature {
  grid-area: con-feature;
  outline: var(--borderColor) dashed 1px;
  padding: 2px;
}
.statdata .stats-block .dex-text {
  grid-area: dex-text;
  outline: var(--borderColor) dashed 1px;
  padding: 2px;
}
.statdata .stats-block .dex-score {
  grid-area: dex-score;
  outline: var(--borderColor) dashed 1px;
  padding: 2px;
}
.statdata .stats-block .dex-x5 {
  grid-area: dex-x5;
  outline: var(--borderColor) dashed 1px;
  padding: 2px;
}
.statdata .stats-block .dex-feature {
  grid-area: dex-feature;
  outline: var(--borderColor) dashed 1px;
  padding: 2px;
}
.statdata .stats-block .int-text {
  grid-area: int-text;
  outline: var(--borderColor) dashed 1px;
  padding: 2px;
}
.statdata .stats-block .int-score {
  grid-area: int-score;
  outline: var(--borderColor) dashed 1px;
  padding: 2px;
}
.statdata .stats-block .int-x5 {
  grid-area: int-x5;
  outline: var(--borderColor) dashed 1px;
  padding: 2px;
}
.statdata .stats-block .int-feature {
  grid-area: int-feature;
  outline: var(--borderColor) dashed 1px;
  padding: 2px;
}
.statdata .stats-block .pow-text {
  grid-area: pow-text;
  outline: var(--borderColor) dashed 1px;
  padding: 2px;
}
.statdata .stats-block .pow-score {
  grid-area: pow-score;
  outline: var(--borderColor) dashed 1px;
  padding: 2px;
}
.statdata .stats-block .pow-x5 {
  grid-area: pow-x5;
  outline: var(--borderColor) dashed 1px;
  padding: 2px;
}
.statdata .stats-block .pow-feature {
  grid-area: pow-feature;
  outline: var(--borderColor) dashed 1px;
  padding: 2px;
}
.statdata .stats-block .cha-text {
  grid-area: cha-text;
  outline: var(--borderColor) dashed 1px;
  padding: 2px;
}
.statdata .stats-block .cha-score {
  grid-area: cha-score;
  outline: var(--borderColor) dashed 1px;
  padding: 2px;
}
.statdata .stats-block .cha-x5 {
  grid-area: cha-x5;
  outline: var(--borderColor) dashed 1px;
  padding: 2px;
}
.statdata .stats-block .cha-feature {
  grid-area: cha-feature;
  outline: var(--borderColor) dashed 1px;
  padding: 2px;
}
.statdata .derived-block {
  display: grid;
  grid-template-columns: 1fr 38px 38px;
  grid-template-rows: min-content min-content min-content min-content min-content;
  gap: 1px 1px;
  grid-auto-flow: row;
  grid-template-areas: "derived-label max-label current-label" "hp-text hp-max hp-current" "wp-text wp-max wp-current" "break-text break-reset break-current" "san-text san-max san-current";
  grid-area: derived-block;
  background-color: var(--backColor);
  color: var(--foreColor);
  outline: var(--borderColor) dashed 1px;
}
.statdata .derived-block .derived-label {
  grid-area: derived-label;
  outline: var(--borderColor) dashed 1px;
  padding: 2px;
}
.statdata .derived-block .max-label {
  grid-area: max-label;
  outline: var(--borderColor) dashed 1px;
  padding: 2px;
}
.statdata .derived-block .current-label {
  grid-area: current-label;
  outline: var(--borderColor) dashed 1px;
  padding: 2px;
}
.statdata .derived-block .hp-text {
  grid-area: hp-text;
  outline: var(--borderColor) dashed 1px;
  padding: 2px;
  display: flex;
  gap: 15px;
}
.statdata .derived-block .hp-max {
  grid-area: hp-max;
  outline: var(--borderColor) dashed 1px;
  padding: 2px;
}
.statdata .derived-block .hp-current {
  grid-area: hp-current;
  outline: var(--borderColor) dashed 1px;
  padding: 2px;
}
.statdata .derived-block .wp-text {
  grid-area: wp-text;
  outline: var(--borderColor) dashed 1px;
  padding: 2px;
}
.statdata .derived-block .wp-max {
  grid-area: wp-max;
  outline: var(--borderColor) dashed 1px;
  padding: 2px;
}
.statdata .derived-block .wp-current {
  grid-area: wp-current;
  outline: var(--borderColor) dashed 1px;
  padding: 2px;
}
.statdata .derived-block .break-text {
  grid-area: break-text;
  outline: var(--borderColor) dashed 1px;
  padding: 2px;
}
.statdata .derived-block .break-reset {
  grid-area: break-reset;
  outline: var(--borderColor) dashed 1px;
  padding: 2px;
}
.statdata .derived-block .break-current {
  grid-area: break-current;
  outline: var(--borderColor) dashed 1px;
  padding: 2px;
}
.statdata .derived-block .san-text {
  grid-area: san-text;
  outline: var(--borderColor) dashed 1px;
  padding: 2px;
}
.statdata .derived-block .san-text:hover {
  color: red;
  text-shadow: 1px;
}
.statdata .derived-block .san-max {
  grid-area: san-max;
  outline: var(--borderColor) dashed 1px;
  padding: 2px;
}
.statdata .derived-block .san-current {
  grid-area: san-current;
  outline: var(--borderColor) dashed 1px;
  padding: 2px;
}
.psychdata {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: 1fr 1fr min-content;
  gap: 1px 1px;
  grid-auto-flow: row;
  grid-template-areas: "psych-header bonds-block" "psych-header mental-block" "psych-header adapted-block";
  background-color: var(--backColor);
  color: var(--foreColor);
  outline: 1px solid var(--labelColor);
  height: 100%;
}
.psychdata .psych-header {
  grid-area: psych-header;
  background-color: var(--foreColor);
  color: var(--backColor);
  outline: var(--borderColor) solid 1px;
  padding: 2px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
}
.bonds-block {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr;
  gap: 1px 1px;
  grid-auto-flow: row;
  grid-template-areas: "bonds-label" "bonds-data";
  grid-area: bonds-block;
  background-color: var(--backColor);
  color: var(--foreColor);
  outline: var(--borderColor) dashed 1px;
}
.bonds-label {
  grid-area: bonds-label;
  background-color: var(--backColor);
  color: var(--foreColor);
  outline: var(--borderColor) dashed 1px;
}
.bonds-data {
  grid-area: bonds-data;
  background-color: var(--backColor);
  color: var(--foreColor);
  outline: var(--borderColor) dashed 1px;
}
.mental-block {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr;
  gap: 1px 1px;
  grid-auto-flow: row;
  grid-template-areas: "mental-label" "mental-data";
  grid-area: mental-block;
  background-color: var(--backColor);
  color: var(--foreColor);
  outline: var(--borderColor) dashed 1px;
}
.mental-label {
  grid-area: mental-label;
  background-color: var(--backColor);
  color: var(--foreColor);
  outline: var(--borderColor) dashed 1px;
}
.mental-data {
  grid-area: mental-data;
  background-color: var(--backColor);
  color: var(--foreColor);
  outline: var(--borderColor) dashed 1px;
}
.adapted-block {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content min-content;
  gap: 1px 1px;
  grid-auto-flow: row;
  grid-template-areas: "adapted-label" "adapted-data";
  grid-area: adapted-block;
  background-color: var(--backColor);
  color: var(--foreColor);
  outline: var(--borderColor) dashed 1px;
}
.adapted-label {
  grid-area: adapted-label;
  background-color: var(--backColor);
  color: var(--foreColor);
  outline: var(--borderColor) dashed 1px;
}
.adapted-data {
  grid-area: adapted-data;
  background-color: var(--backColor);
  color: var(--foreColor);
  outline: var(--borderColor) dashed 1px;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-content: center;
}
.bond-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-height: 100px;
  margin: 0;
  padding: 0;
  width: auto;
  gap: 1px 1px;
  justify-content: start;
  align-content: flex-start;
  overflow-y: auto;
}
.bond-card {
  outline: 1px dashed var(--borderColor);
  display: grid;
  font-size: 0.75rem;
  grid-template-columns: auto 2rem min-content;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  height: 1.25rem;
  max-height: 1.25rem;
  width: 100%;
}
.mental-card {
  outline: 1px dashed var(--borderColor);
  display: grid;
  font-size: 0.75rem;
  grid-template-columns: auto min-content;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  height: 1.25rem;
  max-height: 1.25rem;
  width: 100%;
}
.bond-name {
  color: var(--foreColor);
  line-height: 1rem;
  overflow: hidden;
  padding: 2px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.bond-name input {
  background-color: var(--borderColor);
  color: var(--labelColor);
  height: 1rem;
  overflow: visible;
  padding: 0;
}
.bond-score {
  color: var(--foreColor);
  line-height: 1rem;
  margin: 2px;
  text-align: center;
}
.bond-score input {
  background-color: rgba(0, 0, 0, 0.1);
  color: var(--foreColor);
  height: 1rem;
  text-align: center;
}
.skilldata {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: 1fr;
  gap: 1px 1px;
  grid-auto-flow: row;
  grid-template-areas: "skills-header skills-block";
  background-color: var(--backColor);
  color: var(--foreColor);
  outline: 1px solid var(--labelColor);
  display: flex;
  flex-direction: row;
  height: 100%;
}
.skilldata .skills-header {
  grid-area: skills-header;
  background-color: var(--foreColor);
  color: var(--backColor);
  outline: var(--borderColor) solid 1px;
  padding: 2px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
}
.skilldata .skills-block {
  grid-area: skills-block;
  background-color: var(--backColor);
  color: var(--foreColor);
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 1;
  overflow-x: auto;
  overflow-y: auto;
}
.skilldata .skills-block .skill-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  height: 100%;
  width: auto;
  gap: 1px 1px;
  justify-content: start;
  align-content: flex-start;
}
.skilldata .skill-card {
  outline: 1px dashed var(--borderColor);
  display: grid;
  font-size: 1rem;
  grid-template-columns: 1rem 1.5rem minmax(0, auto) 2rem;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  height: 1.25rem;
  max-height: 1.25rem;
  width: 33%;
}
.skilldata .skill-card .item-image {
  height: 1.25rem;
  width: 1.25rem;
  padding: 2px;
}
.skilldata .skill-card .skill-check {
  height: 0.75rem;
  margin: 1px 0 0;
}
.skilldata .skill-card .skill-name-wrapper .zero {
  color: var(--borderColor);
  text-decoration: line-through var(--foreColor) solid 1px;
}
.skilldata .skill-card .skill-name-wrapper .belowtwenty {
  color: var(--belowtwentySkill);
}
.skilldata .skill-card .skill-name-wrapper .twenty {
  color: var(--twentySkill);
}
.skilldata .skill-card .skill-name-wrapper .forty {
  color: var(--fortySkill);
}
.skilldata .skill-card .skill-name-wrapper .sixty {
  color: var(--sixtySkill);
}
.skilldata .skill-card .skill-name-wrapper .eighty {
  color: var(--eightySkill);
}
.skilldata .skill-card .skill-name-wrapper:hover .mod-selector-hidden {
  display: flex;
}
.skilldata .skill-card .skill-name-wrapper:hover .skill-name {
  display: none;
}
.skilldata .skill-card .skill-name-nohide {
  color: var(--foreColor);
  line-height: 1rem;
  overflow: hidden;
  padding: 2px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.skilldata .skill-card .skill-name {
  color: var(--foreColor);
  line-height: 1rem;
  overflow: hidden;
  padding: 2px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.skilldata .skill-card .skill-name input {
  background-color: var(--borderColor);
  color: var(--labelColor);
  height: 1rem;
  overflow: visible;
  padding: 0;
}
.skilldata .skill-card .skill-score {
  color: var(--foreColor);
  line-height: 1rem;
  margin: 2px;
  text-align: center;
}
.skilldata .skill-card .skill-score input {
  background-color: rgba(0, 0, 0, 0.1);
  color: var(--foreColor);
  height: 1rem;
  text-align: center;
}
.weaponsdata {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: 1fr;
  gap: 1px 1px;
  grid-auto-flow: row;
  grid-template-areas: "weapons-header weapons-block";
  background-color: var(--backColor);
  color: var(--foreColor);
  outline: 1px solid var(--labelColor);
  display: flex;
  flex-direction: row;
  height: 100%;
}
.weaponsdata .weapons-header {
  grid-area: weapons-header;
  background-color: var(--foreColor);
  color: var(--backColor);
  outline: var(--borderColor) solid 1px;
  padding: 2px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
}
.weaponsdata .weapons-block {
  grid-area: weapons-block;
  background-color: var(--backColor);
  color: var(--foreColor);
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 1;
  overflow-x: auto;
  overflow-y: auto;
}
.weaponsdata .weapons-block .weapons-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  height: 100%;
  width: auto;
  gap: 1px 1px;
  justify-content: start;
  align-content: flex-start;
}
.weaponsdata .weapon-name-wrapper:hover .mod-selector-hidden {
  display: flex;
}
.weaponsdata .weapon-name-wrapper:hover .weapon-name {
  display: none;
}
.weaponsdata .weapon-card {
  outline: 1px dashed var(--borderColor);
  display: grid;
  font-size: 1rem;
  grid-template-columns: 1.5rem minmax(0, auto) 2.1rem 3rem 5rem 2.1rem 2.1rem 2.1rem 2.1rem 2.1rem 1.5rem;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  width: 100%;
}
.weaponsdata .weapon-card .item-image {
  height: 1.25rem;
  width: 1.25rem;
  padding: 2px;
}
.weaponsdata .weapon-card .weapon-name {
  color: var(--foreColor);
  line-height: 1rem;
  overflow: hidden;
  padding: 2px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.weaponsdata .weapon-card .weapon-name:hover {
  color: red;
  text-shadow: 1px;
}
.weaponsdata .weapon-card .weapon-name input {
  background-color: var(--borderColor);
  color: var(--labelColor);
  height: 1rem;
  overflow: visible;
  padding: 0;
}
.weaponsdata .weapon-card .weapon-icon {
  height: 0.75rem;
  margin: 1px 0 0;
}
.weaponsdata .weapon-card .weapon-stat {
  color: var(--foreColor);
  line-height: 1rem;
  margin: 2px;
  text-align: center;
}
.weaponsdata .weapon-card .weapon-stat input {
  background-color: rgba(0, 0, 0, 0.1);
  color: var(--foreColor);
  height: 1rem;
  text-align: center;
}
section.window-content {
  background: url("../assets/img/transparent.png") !important;
}
