.dgalt.sheet.agent {
  .form {
    display: flex;
    flex-direction: row;


  }

  .vertical-header {
    writing-mode: vertical-rl;
    font-size: 12px;
    padding-top: 10px;
    text-align: center;
    vertical-align: middle;

  }

  .form-label {
    font-size: 10px;
    color: var(--labelColor);
  }

  .form-label-centered {
    font-size: 10px;
    text-align: center;
    vertical-align: middle;
    color: var(--labelColor);
  }

  .form-inputbox {
    color: var(--foreColor);
    height: 18px;

  }

  .form-inputbox-centered {
    color: var(--foreColor);
    text-align: center;
    height: 18px;
  }

  .codename {
    margin-top: auto;
    text-align: center;
    vertical-align: middle;
  }

  .photo {
    width: 100%;
    height: auto;

    max-height: 72px;
    max-width: 72px;
    align-self: center;
  }





  .flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: normal;
  }

  .flex-item {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
  }





  .personaldata {
    display: grid;
    grid-template-columns: min-content 1fr auto;
    grid-template-rows: min-content;
    gap: 1px 1px;
    grid-auto-flow: row;
    background-color: var(--backColor);
    color: var(--foreColor);
    outline: 1px solid var(--labelColor);


    grid-template-areas: "personal-header personal-block picture-block";

    .personal-header {
      grid-area: personal-header;
      background-color: var(--foreColor);
      color: var(--backColor);
      outline: var(--borderColor) dashed 1px;
      padding: 2px;
    }

    .personal-block {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: min-content min-content min-content;
      gap: 1px 1px;
      grid-auto-flow: row;
      grid-template-areas:
        "realname-area realname-area profession-area profession-area"
        "employer-area employer-area nationality-area nationality-area"
        "sex-area age-area education-area education-area";
      grid-area: personal-block;
      background-color: var(--backColor);
      color: var(--foreColor);
      outline: var(--borderColor) dashed 1px;

      .realname-area {
        grid-area: realname-area;
        background-color: var(--backColor);
        color: var(--foreColor);
        outline: var(--borderColor) dashed 1px;
        padding: 2px;
      }

      .profession-area {
        grid-area: profession-area;
        background-color: var(--backColor);
        color: var(--foreColor);
        outline: var(--borderColor) dashed 1px;
        padding: 2px;
      }

      .employer-area {
        grid-area: employer-area;
        background-color: var(--backColor);
        color: var(--foreColor);
        outline: var(--borderColor) dashed 1px;
        padding: 2px;
      }

      .nationality-area {
        grid-area: nationality-area;
        background-color: var(--backColor);
        color: var(--foreColor);
        outline: var(--borderColor) dashed 1px;
        padding: 2px;
      }

      .sex-area {
        grid-area: sex-area;
        background-color: var(--backColor);
        color: var(--foreColor);
        outline: var(--borderColor) dashed 1px;
        padding: 2px;
      }

      .age-area {
        grid-area: age-area;
        background-color: var(--backColor);
        color: var(--foreColor);
        outline: var(--borderColor) dashed 1px;
        padding: 2px;
      }

      .education-area {
        grid-area: education-area;
        background-color: var(--backColor);
        color: var(--foreColor);
        outline: var(--borderColor) dashed 1px;
        padding: 2px;
      }
    }

    .picture-block {
      grid-area: picture-block;
      background-color: var(--backColor);
      color: var(--foreColor);
      outline: var(--borderColor) dashed 1px;
      padding: 2px;
      display: flex;
      flex-direction: column;
    }
  }







  .statdata {
    margin-top: 5px;
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: min-content min-content;
    gap: 1px 1px;
    grid-auto-flow: row;
    grid-template-areas:
      "stat-header stats-block"
      "stat-header derived-block";
    background-color: var(--backColor);
    color: var(--foreColor);
    outline: 1px solid var(--labelColor);


    .stat-header {
      grid-area: stat-header;
      background-color: var(--foreColor);
      color: var(--backColor);
      outline: var(--borderColor) dashed 1px;
      padding: 2px;
    }

    .stats-block {
      display: grid;
      grid-template-columns: 1fr 40px 40px 1fr;
      grid-template-rows: min-content min-content min-content min-content min-content min-content min-content;
      gap: 1px 1px;
      grid-auto-flow: row;
      grid-template-areas:
        "stat-label score-label x5-label feature-label"
        "str-text str-score str-x5 str-feature"
        "con-text con-score con-x5 con-feature"
        "dex-text dex-score dex-x5 dex-feature"
        "int-text int-score int-x5 int-feature"
        "pow-text pow-score pow-x5 pow-feature"
        "cha-text cha-score cha-x5 cha-feature";
      grid-area: stats-block;
      background-color: var(--backColor);
      color: var(--foreColor);
      outline: var(--borderColor) dashed 1px;




      .stat-label {
        grid-area: stat-label;
        outline: var(--borderColor) dashed 1px;
        padding: 2px;
        justify-content: center;
        align-content: center;
      }

      .score-label {
        grid-area: score-label;
        outline: var(--borderColor) dashed 1px;
        padding: 2px;
      }

      .x5-label {
        grid-area: x5-label;
        outline: var(--borderColor) dashed 1px;
        padding: 2px;
      }

      .feature-label {
        grid-area: feature-label;
        outline: var(--borderColor) dashed 1px;
        padding: 2px;
      }

      .str-text {
        grid-area: str-text;
        outline: var(--borderColor) dashed 1px;
        padding: 2px;
      }

      .str-score {
        grid-area: str-score;
        outline: var(--borderColor) dashed 1px;
        padding: 2px;
      }

      .str-x5 {
        grid-area: str-x5;
        outline: var(--borderColor) dashed 1px;
        padding: 2px;
      }

      .str-feature {
        grid-area: str-feature;
        outline: var(--borderColor) dashed 1px;
        padding: 2px;
      }

      .con-text {
        grid-area: con-text;
        outline: var(--borderColor) dashed 1px;
        padding: 2px;
      }

      .con-score {
        grid-area: con-score;
        outline: var(--borderColor) dashed 1px;
        padding: 2px;
      }

      .con-x5 {
        grid-area: con-x5;
        outline: var(--borderColor) dashed 1px;
        padding: 2px;
      }

      .con-feature {
        grid-area: con-feature;
        outline: var(--borderColor) dashed 1px;
        padding: 2px;
      }

      .dex-text {
        grid-area: dex-text;
        outline: var(--borderColor) dashed 1px;
        padding: 2px;
      }

      .dex-score {
        grid-area: dex-score;
        outline: var(--borderColor) dashed 1px;
        padding: 2px;
      }

      .dex-x5 {
        grid-area: dex-x5;
        outline: var(--borderColor) dashed 1px;
        padding: 2px;
      }

      .dex-feature {
        grid-area: dex-feature;
        outline: var(--borderColor) dashed 1px;
        padding: 2px;
      }

      .int-text {
        grid-area: int-text;
        outline: var(--borderColor) dashed 1px;
        padding: 2px;
      }

      .int-score {
        grid-area: int-score;
        outline: var(--borderColor) dashed 1px;
        padding: 2px;
      }

      .int-x5 {
        grid-area: int-x5;
        outline: var(--borderColor) dashed 1px;
        padding: 2px;
      }

      .int-feature {
        grid-area: int-feature;
        outline: var(--borderColor) dashed 1px;
        padding: 2px;
      }

      .pow-text {
        grid-area: pow-text;
        outline: var(--borderColor) dashed 1px;
        padding: 2px;
      }

      .pow-score {
        grid-area: pow-score;
        outline: var(--borderColor) dashed 1px;
        padding: 2px;
      }

      .pow-x5 {
        grid-area: pow-x5;
        outline: var(--borderColor) dashed 1px;
        padding: 2px;
      }

      .pow-feature {
        grid-area: pow-feature;
        outline: var(--borderColor) dashed 1px;
        padding: 2px;
      }

      .cha-text {
        grid-area: cha-text;
        outline: var(--borderColor) dashed 1px;
        padding: 2px;
      }

      .cha-score {
        grid-area: cha-score;
        outline: var(--borderColor) dashed 1px;
        padding: 2px;
      }

      .cha-x5 {
        grid-area: cha-x5;
        outline: var(--borderColor) dashed 1px;
        padding: 2px;
      }

      .cha-feature {
        grid-area: cha-feature;
        outline: var(--borderColor) dashed 1px;
        padding: 2px;
      }
    }



    .derived-block {
      display: grid;
      grid-template-columns: 1fr 40px 40px;
      grid-template-rows: min-content min-content min-content min-content min-content;
      gap: 1px 1px;
      grid-auto-flow: row;
      grid-template-areas:
        "derived-label max-label current-label"
        "hp-text hp-max hp-current"
        "wp-text wp-max wp-current"
        "break-text break-reset break-current"
        "san-text san-max san-current";
      grid-area: derived-block;
      background-color: var(--backColor);
      color: var(--foreColor);
      outline: var(--borderColor) dashed 1px;

      .derived-label {
        grid-area: derived-label;
        outline: var(--borderColor) dashed 1px;
        padding: 2px;
      }

      .max-label {
        grid-area: max-label;
        outline: var(--borderColor) dashed 1px;
        padding: 2px;
      }

      .current-label {
        grid-area: current-label;
        outline: var(--borderColor) dashed 1px;
        padding: 2px;
      }

      .hp-text {
        grid-area: hp-text;
        outline: var(--borderColor) dashed 1px;
        padding: 2px;
      }

      .hp-max {
        grid-area: hp-max;
        outline: var(--borderColor) dashed 1px;
        padding: 2px;
      }

      .hp-current {
        grid-area: hp-current;
        outline: var(--borderColor) dashed 1px;
        padding: 2px;
      }

      .wp-text {
        grid-area: wp-text;
        outline: var(--borderColor) dashed 1px;
        padding: 2px;
      }

      .wp-max {
        grid-area: wp-max;
        outline: var(--borderColor) dashed 1px;
        padding: 2px;
      }

      .wp-current {
        grid-area: wp-current;
        outline: var(--borderColor) dashed 1px;
        padding: 2px;
      }

      .break-text {
        grid-area: break-text;
        outline: var(--borderColor) dashed 1px;
        padding: 2px;
      }

      .break-reset {
        grid-area: break-reset;
        outline: var(--borderColor) dashed 1px;
        padding: 2px;
      }

      .break-current {
        grid-area: break-current;
        outline: var(--borderColor) dashed 1px;
        padding: 2px;
      }

      .san-text {
        grid-area: san-text;
        outline: var(--borderColor) dashed 1px;
        padding: 2px;
      }

      .san-max {
        grid-area: san-max;
        outline: var(--borderColor) dashed 1px;
        padding: 2px;
      }

      .san-current {
        grid-area: san-current;
        outline: var(--borderColor) dashed 1px;
        padding: 2px;
      }
    }



  }


}