.dgalt.sheet {

    //min-width: 688px;
    //min-height: 640px;

    .sheet-body {
        border: 1px solid var(--borderColor);
        margin: 0 1rem 0.5rem 1rem;
        overflow: hidden;
        
        

        ul,
        ol {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        .restore-list-styles ul,
        .restore-list-styles ol {
            margin: 0.5em 0;
            padding: 0 0 0 1.5em;
        }

        .restore-list-styles ul {
            list-style-type: disc;
        }

        .restore-list-styles ol {
            list-style-type: decimal;
        }

        .item-list {
            display:flex;
            width: auto;
            height: 100%;
            
            flex-direction: column;
            flex-wrap: wrap;

            
            margin: 0 0 10px;
            
        }

        .itemV2 {
            max-height: 1.25rem;
            
            margin-right: 0.5rem;
            display: grid;
            font-size: 0.75rem;
            grid-template-columns: 1rem auto 1.5rem 1.5rem;
            border-bottom: 1px solid;
            width: 33%;

            

            .item-image {
                height: 1rem;
                padding: 2px;
            }

            .item-name {
                // .cursive();
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                padding-left: 3px;
                line-height: 1rem;

                input {
                    height: 1rem;
                    padding: 0;
                    overflow: visible;
                    background-color: var(--backColor);
                    color: var(--foreColor);
                }
            }

            .item-score {
                // .cursive();
                color: var(--foreColor);
                text-align: end;
                margin-right: 2px;
                line-height: 1rem;

                input {
                    height: 1rem;
                    padding: 0;
                    margin-right: 2px;
                    background-color: var(--backColor);
                    color: var(--foreColor);
                    text-align: end;
                }
            }

            .item-controls {
                // font-family: system-ui;
                font-size: 0.625rem;
                line-height: 1rem;
                flex: 0 0 1.25rem;
                display: block;
                text-align: end;
                width: max-content;

                a:hover {
                    text-shadow: none;
                    color: var(--foreColor);
                }

                .item-control {
                    &.active {
                        color: goldenrod;
                    }
                }
            }
        }



        
        .tab {
            height: 100%;
        }

        .two-panes-content {
            display: flex;
            flex-direction: row;
            height: 100%;

            .left-panel {
                flex: 0 0 8.125rem;
                height: auto;
                margin: 0.5rem 0;
                padding: 0;
                border-right: 1px solid;
                text-align: center;

                a:hover {
                    text-shadow: 0 0 10px var(--hoverColor);
                }
            }

            .right-panel {
                flex: 1;
                height: calc(100%-40px);
                padding: 0.25rem;
                overflow-y: hidden;
                overflow-x: auto;
            }
        }
    }
}