.dgalt.sheet.agent {
  .form {
    height: 100%;
    display: flex;
    flex-direction: row;        
  }

  

  .vertical-header {
    writing-mode: vertical-rl;
    font-size: 12px;
    padding-top: 10px;


  }

  .form-label {
    font-size: 10px;
    color: var(--labelColor);
  }

  .form-label-centered {
    font-size: 10px;
    text-align: center;
    vertical-align: middle;
    color: var(--labelColor);
  }

  .form-inputbox {
    color: var(--foreColor);
    height: 18px;

  }

  .form-inputbox-centered {
    color: var(--foreColor);
    text-align: center;
    height: 18px;
  }

  .form-inputbox-number {
    color: var(--foreColor);
    text-align: center;
    height: 18px;
    width: 32px;
  }


  .form-button {
    align-items: center;
    background-color: initial;
    background-image: linear-gradient(var(--borderColor), var(--backColor));
    border-radius: 2px;
    border-width: 0;
    box-sizing: border-box;
    color: var(--labelColor);
    display: inline-flex;
    flex-direction: column;
    font-size: 10px;
    height: 16px;
    width: 35px;
    justify-content: center;
    margin: 0;
    outline: none;
    padding: 0 2px;
    text-align: center;
    transition: all 150ms;
    vertical-align: baseline;

  }

  .form-button:hover {
    color: var(--hoverColor);
  }

  .form-button:active {
    background-image: radial-gradient(var(--backColor), var(--hoverColor));
  }

  .form-text {
    outline: var(--borderColor) dashed 1px;
    padding: 2px;
  }

  



  .container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content min-content 1fr;
    gap: 5px 5px;
    grid-auto-flow: row;
    grid-template-areas:
      "personal-data-area personal-data-area"
      "statistics-data-area mental-data-area"
      "skill-data-area skill-data-area";

    .personal-data-area {
      grid-area: personal-data-area;
    }

    .statistics-data-area {
      grid-area: statistics-data-area;
    }

    .mental-data-area {
      grid-area: mental-data-area;
    }

    .skill-data-area {
      grid-area: skill-data-area;
      height: 100%;

    }
  }

  .item-controls {
    margin: 2px 2px 2px 2px;
    display: block;
    flex: 0 0 1.25rem;
    font-size: .625rem;
    line-height: 1rem;
    text-align: end;
    width: max-content;
    a {
      &:hover {
        color: red;
        text-shadow: none;
      }
    }
    .item-control.active {
      color: #daa520;
    }
  }

  .item-controls-vertical {
    margin: 2px 2px 2px 2px;    
    display: flex;
    flex-direction: column;
    flex: 0 0 1.25rem;
    font-size: .625rem;
    line-height: 1rem;
    text-align: end;
    width: max-content;
    a {
      &:hover {
        color: red;
        text-shadow: none;
      }
    }
    .item-control.active {
      color: #daa520;
    }
  }

  .item-list {
    display: flex !important;
    flex-direction: column !important;
    flex-wrap: wrap !important;
    width: auto;
    gap: 1px 1px;
    overflow: hidden;
    overflow-y: auto;

    height: 320px;
    margin: 0px;
    padding: 0px;
    justify-content: start;
    align-content: flex-start;


  }

  
  


  



}