:root{
    --backColor:#282828;
    --foreColor:#909090;
    --borderColor:#454545;
    --labelColor:#ffffff;
    --hoverColor:red;
    --zeroSkill:#000000;
    --belowtwentySkill:#454545;
    --twentySkill:#808080;
    --fortySkill:#ffffff;
    --sixtySkill: darkorange;
    --eightySkill:red;

    /*
    --backColor:white;
    --foreColor:black;
    --borderColor:#454545;
    --labelColor:#808080;
    --hoverColor:red;*/
}


@import "./item-sheet.less";
@import "./agent-sheet.less";
@import "./partial-personal-data.less";
@import "./partial-statistics-data.less";
@import "./partial-psychological-data.less";
@import "./partial-skills-data.less";






section.window-content{
    background: url("../assets/img/transparent.png") !important;    
    //background: url("../assets/img/seamless-paper.png") !important;    
  }