.dgalt.sheet.item {
    .form {
        display: flex;
        flex-direction: column;


    }

    .vertical-header {
        writing-mode: vertical-rl;
        font-size: 12px;
        padding-top: 10px;


    }

    .form-label {
        font-size: 10px;
        color: var(--labelColor);
    }

    .form-label-centered {
        font-size: 10px;
        text-align: center;
        vertical-align: middle;
        color: var(--labelColor);
    }

    .form-inputbox {
        color: var(--foreColor);
        height: 18px;

    }

    .form-inputbox-centered {
        color: var(--foreColor);
        text-align: center;
        height: 18px;
    }

    .form-inputbox-number {
        color: var(--foreColor);
        text-align: center;
        height: 18px;
        width: 32px;
    }


    .form-button {
        align-items: center;
        background-color: initial;
        background-image: linear-gradient(var(--borderColor), var(--backColor));
        border-radius: 2px;
        border-width: 0;
        box-sizing: border-box;
        color: var(--labelColor);
        display: inline-flex;
        flex-direction: column;
        font-size: 10px;
        height: 16px;
        width: 35px;
        justify-content: center;
        margin: 0;
        outline: none;
        padding: 0 2px;
        text-align: center;
        transition: all 150ms;
        vertical-align: baseline;

    }

    .form-button:hover {
        color: var(--hoverColor);
    }

    .form-button:active {
        background-image: radial-gradient(var(--backColor), var(--hoverColor));
    }

    .form-text {
        outline: var(--borderColor) dashed 1px;
        padding: 2px;
    }

    .group-grow-horizontal{
        width: auto;
        flex: 1;       
    }

    .group-flex-horizontal{
        display: flex;
        flex-direction: row;
        justify-items: center;
        gap: 10px;
    }


    .container {
        display: grid;
        grid-template-columns: min-content 1fr;
        grid-template-rows: min-content min-content 1fr;
        gap: 1px 1px;
        grid-auto-flow: row;
        grid-template-areas:
            "item-header item-top"
            "item-header item-top"
            "item-header item-description";
        background-color: var(--backColor);
        color: var(--foreColor);
        outline: 1px solid var(--labelColor);
        height: 100%;

        .item-header {
            grid-area: item-header;
            background-color: var(--foreColor);
            color: var(--backColor);
            outline: var(--borderColor) solid 1px;            
            display: flex;
            flex-direction: row;
        }

        .item-description {
            grid-area: item-description;
            background-color: var(--backColor);
            color: var(--foreColor);
            outline: var(--borderColor) dashed 1px;
            padding: 4px;

            .editor {
                height: calc(100%-40px);
                border: 1px solid;
                border-radius: 1%;
                margin: 0 0 10px 0px;
                padding: 10px;
            }
        }

        .item-top {
            display: grid;
            grid-template-columns: min-content 1fr;
            grid-template-rows: 1fr;
            gap: 1px 1px;
            grid-auto-flow: row;
            grid-template-areas:
                "item-icon item-main";
            grid-area: item-top;

            grid-area: item-top;
            background-color: var(--backColor);
            color: var(--foreColor);
            outline: var(--borderColor) dashed 1px;            
        }

        .item-icon {
            grid-area: item-icon;      
            padding: 4px;   
            
        }

        .item-main {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: min-content 1fr;
            gap: 1px 1px;
            grid-auto-flow: row;
            grid-template-areas:
                "item-title"
                "item-data";
            grid-area: item-main;
        }

        .item-title {
            grid-area: item-title;
            background-color: var(--backColor);
            color: var(--foreColor);
            outline: var(--borderColor) dashed 1px;
            padding: 4px;
        }

        .item-data {
            grid-area: item-data;
            grid-area: item-data;
            background-color: var(--backColor);
            color: var(--foreColor);
            outline: var(--borderColor) dashed 1px;
            padding: 4px;
            display: flex;
            justify-content: center;
            gap: 10px;
        }
    }

    .item-icon{
        min-width: 64px;
        min-height: 64px;
        width: auto;
        height: fit-content;
    }



    





   



}