.skilldata {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: 1fr;
  gap: 1px 1px;
  grid-auto-flow: row;
  grid-template-areas:
    "skills-header skills-block";

  background-color: var(--backColor);
  color: var(--foreColor);
  outline: 1px solid var(--labelColor);

  display: flex;
  flex-direction: row;
  height: 100%;







  .skills-header {
    grid-area: skills-header;
    background-color: var(--foreColor);
    color: var(--backColor);
    outline: var(--borderColor) solid 1px;
    padding: 2px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
  }

  .skills-block {
    grid-area: skills-block;
    background-color: var(--backColor);
    color: var(--foreColor);
    //outline: var(--borderColor) dashed 1px;
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: 1;


    overflow-x: auto;
    overflow-y: auto;

    .skill-list {

      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      margin: 0;
      padding: 0;
      height: 100%;
      width: auto;
      gap: 1px 1px;
      justify-content: start;
      align-content: flex-start;
    }

  }

  .skill-card {
    outline: 1px dashed var(--borderColor);
    display: grid;
    font-size: 1rem; //.75rem
    grid-template-columns: 1rem 1.5rem auto 2rem; //1.5rem;
    //margin-right: .2rem;
    padding-left: .2rem;
    padding-right: .2rem;
    height: 1.25rem;
    max-height: 1.25rem;
    width: 33%;

    .item-image {
      height: 1.25rem;
      width: 1.25rem;
      padding: 2px;
    }

    .skill-check {
      //background-size: contain;
      height: .75rem;
      margin: 1px 0 0;
    }

    .skill-name {
      color: var(--foreColor);
      line-height: 1rem;
      overflow: hidden;
      padding: 2px;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-weight: light;

      &:hover {
        color: red;
        text-shadow: 1px;
      }

      input {
        background-color: var(--borderColor);
        color: var(--labelColor);
        height: 1rem;
        overflow: visible;
        padding: 0;
      }

      .zero {
        color: var(--zeroSkill);
        font-weight: bold;
        &:hover {
          color: var(--hoverColor);
          text-shadow: 1px;
        }
      }

      .belowtwenty {
        color: var(--belowtwentySkill);
        font-weight: bold;
        &:hover {
          color: var(--hoverColor);
          text-shadow: 1px;
        }
      }

      .twenty {
        color: var(--twentySkill);
        &:hover {
          color: var(--hoverColor);
          text-shadow: 1px;
        }
      }

      .forty {
        color: var(--fortySkill);
        &:hover {
          color: var(--hoverColor);
          text-shadow: 1px;
        }
      }

      .sixty {
        color: var(--sixtySkill);
        &:hover {
          color: var(--hoverColor);
          text-shadow: 1px;
        }
      }

      .eighty {
        color: var(--eightySkill);
        &:hover {
          color: var(--labelColor);
          text-shadow: 1px;
        }
      }
    }

    .skill-score {
      color: var(--foreColor);
      line-height: 1rem;
      margin: 2px;
      text-align: center;

      input {
        background-color: rgba(0, 0, 0, .1);
        color: var(--foreColor);
        height: 1rem;
        text-align: center;
      }
    }


  }

}