.skilldata {
    height: 100%;
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: 1fr;
    gap: 1px 1px;
    grid-auto-flow: row;
    grid-template-areas:
        "skills-header skills-block";

    background-color: var(--backColor);
    color: var(--foreColor);
    outline: 1px solid var(--labelColor);

    



    .skills-header {
        grid-area: skills-header;
        background-color: var(--foreColor);
        color: var(--backColor);
        outline: var(--borderColor) solid 1px;
        padding: 2px;
        display: flex;
        flex-direction: column;
    }

    .skills-block {
        height: 100%;
        grid-area: skills-block;
        background-color: var(--backColor);
        color: var(--foreColor);
        outline: var(--borderColor) dashed 1px;
        
    }

    .skill-card {
        outline: 1px dashed var(--borderColor);
        display: grid;
        font-size: .75rem;
        grid-template-columns: 1rem auto 2rem min-content;//1.5rem;
        //margin-right: .2rem;
        padding-left: .2rem;
        padding-right: .2rem;
        max-height: 1.25rem;
        width: 180px;
    
        .skill-check {
          background-size: contain;
          height: .875rem;
          margin: 1px 0 0;
        }
    
        .skill-name {
          color: var(--foreColor);
          line-height: 1rem;
          overflow: hidden;
          padding: 2px;
          text-overflow: ellipsis;
          white-space: nowrap;
    
          input {
            background-color: var(--borderColor);
            color: var(--labelColor);
            height: 1rem;
            overflow: visible;
            padding: 0;
          }
        }
    
        .skill-score {
          color: var(--foreColor);
          line-height: 1rem;
          margin: 2px;
          text-align: center;
    
          input {
            background-color: rgba(0, 0, 0, .1);
            color: var(--foreColor);
            height: 1rem;
            text-align: center;
          }
        }
    }

}




