.skill-card {
    display: grid;
    grid-template-columns: 1fr 38px 38px;
    grid-template-rows: min-content;
    gap: 1px 1px;
    grid-auto-flow: row;

    align-items: stretch;
    justify-items: stretch;

    grid-template-areas:
        "skill-name skill-score skill-edit";

    background-color: var(--backColor);
    color: var(--foreColor);
    outline: 1px dashed var(--borderColor);

    .skill-name {
        grid-area: skill-name;
        outline: var(--borderColor) dashed 1px;
        padding: 2px;
    }
    
    .skill-score {
        grid-area: skill-score;
        color: var(--foreColor);
        text-align: center;
        height: 18px;
        padding: 2px;
    }
    
    .skill-edit {
        grid-area: skill-edit;
        outline: var(--borderColor) dashed 1px;
        padding: 2px;
    }

  
}



