.gear-labels {
    display: grid;
    grid-template-columns: 1.25rem minmax(0, auto) minmax(0, auto) 1.5rem;
    //padding-left: .2rem;
    //padding-right: .2rem;
    gap: 1px;
    margin-bottom: 1px;

    .form-label {
        outline: 1px dashed var(--borderColor);
        padding: 0px 4px;
    }

    .form-label-centered {
        outline: 1px dashed var(--borderColor);
    }
}

.armor-card {
    display: grid;
    font-size: 1rem; //.75rem
    grid-template-columns: 1.25rem minmax(0, auto) minmax(0, auto) 1.5rem;
    gap: 1px;
    width: 100%;
}
