<div class="contentdata">
    <div class="content-header">

        <div class="button-bar-vertical">
            <a class="item-control item-create" data-type="Armor"
                title="{{localize 'dgalt.labels.armordata.addnew'}}"><i class="fas fa-plus"></i></a>
        </div>

        <div class="vertical-header">
            {{localize 'dgalt.labels.armordata.header'}}
        </div>
    </div>
    <div class="content-block">
        <div class="armor-labels">
            <div class="form-label-centered"></div>
            <div class="form-label">{{localize 'dgalt.labels.armordata.header'}}</div>
            <div class="form-label-centered">{{localize 'dgalt.labels.armordata.protection'}}</div>
        </div>

        <ol class="armor-list">
            {{#each equipedarmor as |armor id|}}
            {{> "systems/delta-green-alt/templates/partials/armor-card.hbs" armor}}
            {{/each}}
        </ol>
    </div>
</div>