<div class="item itemV2">
    <div class="item-name">
       {{name}} // {{data.relationship}} // {{data.value}}
    </div>
    <div class="item-score"><input class="form-inputbox-centered" name="value" type="text" data-dtype="number"
            value="{{data.value}}" disabled /></div>
    <div class="item-controls" >
        <a class="item-control item-edit" title="EDIT"><i class="fas fa-edit"></i></a>
        <a class="item-control item-delete" title="DELETE"><i class="fas fa-trash"></i></a>
    </div>
</div>

