<div class="skilldata">
    <div class="skills-header">
        <div class="item-controls-vertical">
            <a class="item-control item-create" data-type="Skill">
                <i class="fas fa-plus"></i>
            </a>
            <a class="item-control skill-improvement">
                <i class="fas fa-angle-double-up"></i>
            </a>
            
        </div>
        <div></div>
        <div class="vertical-header">
            {{localize 'dgalt.labels.skilldata.header'}}
        </div>
    </div>
    <div class="skills-block">


        <ol class="skill-list">
            {{#each skills as |skill id|}}
            {{> "systems/delta-green-alt/templates/partials/skill-card.hbs" skill}}
            {{/each}}
        </ol>
    </div>
</div>



