<form class="actor-sheet {{cssClass}} flexcol" data-actor-id="{{actor.id}}" {{#if tokenId}}data-token-id="{{tokenId}}"
    {{/if}} autocomplete="off">

    <div class="container">

        <nav class="sheet-nav tabs" data-group="primary">
            <!--<a class="tab-title" data-tab="skills1">Skills A</a>-->
            <a class="tab-title" data-tab="skills2">Skills</a>
            <a class="tab-title" data-tab="gear">Gear</a>
            <a class="tab-title" data-tab="bio">Notes</a>
            <a class="tab-title" data-tab="unnatural">Unnatural</a>
        </nav>








        <section class="sheet-body">





            <div class="tab skills2" data-group="primary" data-tab="skills2">

                <div class="sheet-page">
                    <div class="tab-top">
                        {{> "systems/delta-green-alt/templates/partials/agent-personal-data-block.hbs"}}
                        <div class="flexrow fillheight">
                            {{> "systems/delta-green-alt/templates/partials/agent-statistics-data-block.hbs"}}
                            {{> "systems/delta-green-alt/templates/partials/agent-psychological-data.hbs"}}
                        </div>
                    </div>

                    <div class="skills-data-area">
                        {{> "systems/delta-green-alt/templates/partials/agent-skills-data-block.hbs"}}
                    </div>
                </div>
            </div>

            <div class="tab gear" data-group="primary" data-tab="gear">
                <div class="tab-top">
                {{> "systems/delta-green-alt/templates/partials/agent-weapons-data-block.hbs"}}
                {{> "systems/delta-green-alt/templates/partials/agent-armor-data-block.hbs"}}
                {{> "systems/delta-green-alt/templates/partials/agent-gear-data-block.hbs"}}
                </div>
                <div class="skills-data-area"></div>
            </div>

            <div class="tab bio" data-group="primary" data-tab="bio">
                NOTES TAB
            </div>

            <div class="tab unnatural" data-group="primary" data-tab="unnatural">
                UNNATURAL TAB
            </div>
        </section>

    </div>





</form>